body {
  font: 20px arial;
}

.link.undirected {
  stroke:#595656;
  stroke-width: 3px;
  stroke-dasharray: 9, 3;
}
.link.directed {
  stroke: #343434;
  stroke-width: 3px;
}
.node {
  cursor: move;
}

.node.fixed {
  fill: #15ED41;
}

.group {
  float: center;
}

.background {
  color: #FFFFFF;
}

#groups {
  float: right;
  width: 250px;
}

text {
  font: 10px sans-serif;
  font-weight: normal;
  stroke: #000000;
  stroke-width: .5;
}

svg {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.svgClass{
  background-color: #eee;
}
.nodetext {
  pointer-events: none;
  font: 10px sans-serif;
}
.node.ConceptNode {
  fill:darkorange;
}
.node.FactNode {
  fill:#4783c1;
}
.node.MisconNode {
  fill: #e76351;
}
.node.ScaseNode{
  fill: #55cd7c;
}
