body {
  font: 20px arial;
}

li {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  cursor: hand;
  cursor: pointer;
}

.chip {
  margin: 3px;
}

.input-field {
  margin-top: 0px;
}

.link.undirected {
  stroke:#595656;
  stroke-width: 3px;
  stroke-dasharray: 9, 3;
}
.link.directed {
  stroke: #343434;
  stroke-width: 3px;
}
.node {
  cursor: move;
}

.node.fixed {
  fill: #15ED41;
}

.group {
  float: center;
}

.background {
  color: #FFFFFF;
}

#group-wrapper {
  margin-top: 18px;
  padding-left: 0px;
  padding-right: 0px;
}

.input-field {
  margin-left: 10px;
  margin-right: 10px;
}

#groups-scroll {
  height: 300px;
  overflow-y: auto;
}


text {
  font: 10px sans-serif;
  font-weight: normal;
  stroke: #000000;
  stroke-width: .5;
}

.row {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.svgClass {
  background-color: #eee;
}

#svg-wrapper {
  height: 100%;
}

#filter-wrapper {
  margin-top: 20px;
  overflow-y: scroll;
  height: 200px;
}

.node {
  stroke: #000000;
  stroke-width: 0.2;
}

.nodetext {
  pointer-events: none;
  font: 10px sans-serif;
}
.node.ConceptNode {
  fill:darkorange;
}
.node.FactNode {
  fill:#4783c1;
}
.node.MisconNode {
  fill: #e76351;
}
.node.ScaseNode{
  fill: #55cd7c;
}
