.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #EEEEEE;
  stroke: #000;
  stroke-width: 2px;
}

.node.fixed {
  fill: #15ED41;
}

text {
  font: 10px sans-serif;
  font-weight: normal;
  stroke: #000000;
  stroke-width: .5;
}

.blue {
  fill: #00BFFF;
}
