@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  font: 20px arial;
  height: 100%;
}

li {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  cursor: hand;
  cursor: pointer;
}

.chip {
  margin: 3px;
  cursor: hand;
  cursor: pointer;
}

.cycles-button {
  top: 15px;
  left: 24px;
  position: fixed;
}

#help-button {
  top: 15px;
  left: 190px;
  position: fixed;
}

.input-field {
  margin-top: 0px;
}

.link.undirected {
  stroke:#595656;
  stroke-width: 3px;
  stroke-dasharray: 9, 3;
}
.link.directed {
  stroke: #343434;
  stroke-width: 3px;
}
.node {
  cursor: move;
}

.node.fixed {
  fill: #15ED41;
}

.group {
  float: center;
}

.background {
  color: #FFFFFF;
}

.full {
  height: 100%;
}

#sidebar {
  height: 100%;
  width: 20%;
  float: right;
  margin-right: 20px;
}

#main-pane {
  margin-left: 20px;
  height: 100%;
  width: 75%;
  float: left;
}

.small-text {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

#groups {
  height: 100%;
}

#group-wrapper {
  height: 60%;
  margin-top: 18px;
  padding-left: 0px;
  padding-right: 0px;
}

.input-field {
  margin-left: 10px;
  margin-right: 10px;
}

#groups-scroll {
  height: 85%;
  overflow-y: auto;
}

#description {
  height: 50px;
  font-size: 16px;
}

#description > p {
  padding: 0px;
}

text {
  font: 10px sans-serif;
  font-weight: normal;
  stroke: #000000;
  stroke-width: .5;
}

.row {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.svgClass {
  background-color: #eee;
}

#filter-wrapper {
  margin-top: 23px;
  overflow-y: scroll;
  height: 30%;
}

#filter-text {
  position: fixed;
  top: 270px;
  left: 200px;
}

.node {
  stroke: #000000;
  stroke-width: 0.2;
}

.highlight {
  font-size: 20px;
}

.nodetext {
  pointer-events: none;
  font: 10px sans-serif;
}

.node.ConceptNode {
  fill: #61a3e7;
}

.node.ConceptNode text {
  fill: #000000;
  stroke: #000000;
}

.node.FactNode {
  fill: #FFC107;
}

.node.MisconNode {
  fill: #e76351;
}

.node.ScaseNode{
  fill: #55cd7c;
}
